@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";
@import "~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin";

.sc-jRQBWg, .kmnoZZ, .ag-root, .ag-unselectable, .ag-root-wrapper, .ag-layout-normal, .ag-ltr, .ag-root-wrapper-body, .ag-tab-guard, .ag-tab-guard-top, .ag-header, .ag-focus-managed, .ag-pivot-off, .ag-body-viewport, .ag-row-no-animation, .ag-center-cols-viewport, .ag-body-viewport, .ag-center-cols-clipper, .ag-center-cols-container, .ag-overlay, .ag-overlay-panel, .ag-overlay-no-rows-wrapper, .ag-overlay-wrapper, .ag-center-cols-container, .ag-floating-top, .ag-pinned-left-cols-container, .ag-hidden, .ag-pinned-right-cols-container, .ag-full-width-container {
	background: #00000000;
	// backdrop-filter: blur();
}

// .ag-body-viewport {
// 	// background-color: transparent;
// 	background: #00000025;
// 	font-style: italic;
// }
.XXX {
	margin-top: 30px;
	color: white;
}
// .ag-cell {
// 		margin-top: 20px;
// 	}
.ag-theme-alpine {
    // @include ag-theme-alpine((
    //     // use theme parameters where possible
    //     alpine-active-color: deeppink
		
    // ));
    // @include ag-theme-alpine((
    //     // use theme parameters where possible
    //     --ag-foreground-color: black
		
    // ));

    // .ag-header, .ag-header-cell-label {
    //     // or write CSS selectors to make customisations beyond what the parameters support
    //     font-style: italic;
	// 	background-color: red;
	// 	background: blue;
	// 	// font-size: 20px;
	// 	// border-radius: 10px;
    // }

	   .ag-layout-normal, .ag-ltr, .ag-root-wrapper-body, .ag-tab-guard, .ag-tab-guard-top, .ag-header, .ag-focus-managed, .ag-pivot-off,   .ag-center-cols-viewport, .ag-body-viewport, .ag-center-cols-clipper, .ag-center-cols-container, .ag-overlay, .ag-overlay-panel, .ag-overlay-wrapper, .ag-center-cols-container, .ag-floating-top, .ag-pinned-left-cols-container, .ag-hidden, .ag-pinned-right-cols-container, .ag-full-width-container {
		background: #00000001;
		// backdrop-filter: blur();
		
		
	}

	.ag-root-wrapper {
		background: rgba(0, 0, 0, 0.068);
		backdrop-filter: blur(5px);
		border-radius: 20px;
	}
	.ag-body-viewport {
		background: red;
	}
	.ag-root, .ag-unselectable, .ag-row-no-animation, .ag-overlay-no-rows-wrapper, .ag-cell, .ag-cell-not-inline-editing{
		background: transparent;
	}	


	.ag-root, .ag-row-no-animation,  .ag-cell, .ag-row-hover {
		background: transparent;
	}
	.ag-row-hover {
		background: transparent!important;
	}

	.ag-row {
		background: #ffffff5d;
	}

	.ag-popup, .ag-popup-child {
		background: #ffffffb2;
		// backdrop-filter: blur(5px);
	}
}